body {
  background: #eee;
}
div.jumbotron {
  background: #ddd;
}
div.signin {
  margin-top: 80px;
  margin-bottom: 80px;
}
div.lobby {
  margin-top: 80px;
  margin-bottom: 80px;
}
div.createroom {
  text-align: right;
}
form.signin {
  max-width: 380px;
  padding: 15px 35px 100px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
form.lobby {
  max-width: 380px;
  padding: 30px 35px 30px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
button {
  margin: 10px 10px 0px 0px;
}
button.btn-title {
  font-size: 300%;
}
